h1{
	font-weight: bold;
	font-size: 80px;
	text-decoration: underline;
	color: green;
	text-align: center;
	font-family: algerian; 
}

h2{
	font-weight: bold;
	color: green;
	font-size: 40px;
	text-align: center;
	text-decoration: underline;
}

body{
	background-color: black;
	font-family: ;
}

p{
	color: green;
	font-size: 20px;
}

img{
}